.main-body{
    background: linear-gradient(180deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.font-courier{
    font-family: 'Courier New', Courier, monospace;
}

.font-bold{
    font-weight: bold;
}

.font-large{
    font-size: large;
}

.font-x-large{
  font-size: x-large;
}

.large-first-letter::first-letter {
  font-size: xx-large;
}

.block-display{
  display: block;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
    to {
      transform: scale(1.1);
    }
  }
  @keyframes hvr-pulse-grow {
    to {
      transform: scale(1.1);
    }
  }

  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-grow{
    animation-name: hvr-pulse-grow;
    animation-duration: 0.35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

.main-head{
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
    font-size: larger;
}

.survey-form{
    min-height: 1600px;
    width: 650px;

    display: block;
    
    background: transparent;

    margin: 0px auto 0px auto;
}

.name-text{
    display: block;

    margin-top: 20px;
    margin-left: 20px;

    padding-top: 20px;
}

.name-box{
    margin: 10px 0px 0px 20px;

    border: 2px solid black;
    border-radius: 5px;

    padding: 1em 20em 1em 1em;
}

.email-text{
    display: block;

    margin-top: 20px;
    margin-left: 20px;

    padding-top: 10px;
}

.email-box{
    margin: 10px 0px 0px 20px;

    border: 2px solid black;
    border-radius: 5px;

    padding: 1em 20em 1em 1em;
}

.age-text{
    display: block;

    margin-top: 20px;
    margin-left: 20px;

    padding-top: 10px;
}

.age-box{
    margin: 10px 0px 0px 20px;

    border: 2px solid black;
    border-radius: 5px;

    padding: 1em 27.85em 1em 1em;
}

.dropdown-text{
    display: block;

    margin-top: 20px;
    margin-left: 20px;

    padding-top: 10px;
}

.dropdown-menu{
    margin: 10px 0px 0px 20px;

    border: 2px solid black;
    border-radius: 5px;

    padding: 1em 23.9em 1em 1em;
}

.radio{
    margin: 35px 26px 0px 20px;

    border: 2px solid black;

    padding: 0px 0px 10px 0px;
}

.radio-question{
    display: block;

    margin-left: 20px;

    padding-top: 10px;
}

.radio-answer-yes{
    margin: 10px 0px 0px 20px;
}

.answer-yes{
    margin: 10px 0px 0px 0px;
}

.radio-answer-no{
    margin: 10px 0px 0px 20px;
}

.answer-no{
    margin: 10px 0px 0px 0px;
}

.radio-answer-maybe{
    margin: 10px 0px 0px 20px;
}

.answer-maybe{    
    margin: 10px 0px 0px 0px;
}

.checkbox-items{
    margin: 35px 26px 0px 20px;

    border: 2px solid black;

    padding: 0.5em 1em 0.2em 1em;
}

.coding-languages{
  padding: 0.5em 0em 0.5em 0em;
}

.feedback{
  margin: 35px 26px 0px 20px;

  border: 2px solid black;

  padding: 15px 20px 20px 20px;
}

.text-box{
  line-height: normal;

  margin-top: 10px;

  padding: 0px 10px 200px 0px;

  width: 98%;
}

.submit-btn{
  display: block;

  margin: 35px auto 0 auto;

  width: 200px;
  height: 50px;

  border: 2px solid black;

  transition-delay: 0.1s;
}

.submit-btn:hover{
  background-color: green;
  cursor: pointer;
}